body {
  color: #383A3F;
  font-family: arial;
}

a {
  color: #F68657;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #1F2124;
  font-family: 'Neuton', serif;
}

.header {
  border-bottom: 2px solid #DDDFE2;
  margin-bottom: 2.5em;
  padding-bottom: 1em;
  text-align: center;
}

.footer {
  font-size: 12px;
  margin: 2em 0;
  text-align: center;
}

.intro {
  font-size: 12px;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}
